.App {
  align-items: center;
  background-color: #333;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
}

.App > section {
  max-width: 20%;
}

h1.normal {
  color: #fff;
}

h1.notVisible {
  color: #444;
}
